<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.infogenda">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dev.infogenda.controller.GerenciadorAvaliacoes"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name="com.dev.infogenda.controller.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.dev.infogenda.notify.AlarmReceiver" />

        <service
            android:name="com.dev.infogenda.notify.RingTonePlayingService"
            android:enabled="true" />

        <activity android:name="com.dev.infogenda.controller.Configuracoes" />
        <activity android:name="com.dev.infogenda.controller.Inicio" />
        <activity android:name="com.dev.infogenda.controller.GerenciadorDisciplinas" />
        <activity android:name="com.dev.infogenda.controller.RegistrarDisciplina" />
        <activity android:name="com.dev.infogenda.controller.RegistrarAvaliacao"></activity>
    </application>

</manifest>